# Copy to deployment.env and chmod 600 deployment.env
DOCTL_CONTEXT=workshop
DOMAIN=earl.sjp-analytics.co.uk
DNS_RECORD_NAME=workshop
SERVER_NAME=workshop.earl.sjp-analytics.co.uk
DROPLET_NAME=workshop
REGION=lon1
SIZE=s-1vcpu-2gb
IMAGE=ubuntu-24-04-x64
SSH_KEY_NAME=REPLACE_WITH_DIGITALOCEAN_KEY_NAME
WORKSHOP_PASSWORD_HASH='$6$REPLACE_WITH_OPENSSL_PASSWD_HASH'
CERTBOT_EMAIL=REPLACE_WITH_EMAIL
REPOSITORY_URL=https://github.com/cityandguilds/earl-workshop26.git
REPOSITORY_REF=main
FIREWALL_NAME=earl-workshop-web
PROJECT_NAME=
VPC_NAME=
CERTBOT_STAGING=false
DNS_TTL=300
