#!/usr/bin/env bash

PROJECT_NAME="dsi-workshop"
WORKSHOP_TAG="dsi-workshop"
REGION="lon1"

VPC_NAME="dsi-workshop-vpc"
VPC_RANGE="10.20.0.0/20"

BASE_IMAGE="ubuntu-24-04-x64"

BUILDER_TAG="dsi-image-builder"
BUILD_SIZE="s-1vcpu-2gb-intel"
BUILDER_FIREWALL_NAME="dsi-workshop-builder"

BUILD_DROPLET="dsi-image-builder"
SNAPSHOT_NAME="dsi-ubuntu-1.0.0"
BOOTSTRAP_URL="https://raw.githubusercontent.com/cityandguilds/earl-workshop26/refs/heads/main/infrastructure/image/bootstrap.sh"
BOOTSTRAP_SHA256="ea358bd8e82c491f6d7b848f73ece4e9470d09afdaa56be878210708d2153fa9"

PARTICIPANT_TAG="dsi-participant"
PARTICIPANT_SIZE="s-1vcpu-2gb-intel"
PARTICIPANT_FIREWALL_NAME="dsi-workshop-participants"

SSH_KEY_NAME="dsi-workshop-admin"
SSH_PUBLIC_KEY_FILE="$HOME/.ssh/id_ed25519.pub"
ADMIN_CIDR="_REPLACE_WITH_REAL_IP_/32"
VENUE_CIDR="_REPLACE_WITH_REAL_IP_/32"

DOMAIN="_REPLACE_WITH_REAL_DOMAIN_"
CERTBOT_EMAIL="_REPLACE_WITH_REAL_EMAIL_"

ADMIN_SIZE="s-1vcpu-2gb-intel"
